:root {
    --dark_blue: #1e2640;
    --medium_blue: #0e4f82;
    --light_blue: #146eb4;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "Gelano";
    src: url(/fonts/GalanoGrotesqueDEMO-Bold.ttf);
  }
  
  body {
    font-family: Inter, sans-serif;
    background-color: white;
  }
  
  .main {
    display: flex;
  }
  
  aside {
    position: sticky;
    inset: 0;
    width: 224px;
    background-color: var(--dark_blue);
    height: 100dvh;
    color: #ccc;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .sidebar .header_sidebar {
    padding: 16px 16px 20px 16px;
    display: flex;
    gap: 12px;
  }
  
  .header_sidebar .sidebar_logo img {
    border-radius: 4px;
    height: 40px;
    width: 40px;
  }
  
  .header_sidebar .company_name_div .company_name {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 4px;
    color: white;
  }
  
  .header_sidebar .company_name_div .company_link {
    font-size: 13px;
    text-decoration: underline;
    color: #ccc;
  }
  
  .header_sidebar .company_name_div .comapny_link:hover {
    font-size: 13px;
    text-decoration: underline;
    color: white;
  }
  
  .menu {
    padding: 8px;
    list-style: none;
    flex: 1;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 16px;
    border-radius: 4px;
    margin-bottom: 4px;
    font-size: 14px;
  }
  
  .menu-active {
    background-color: #ffffff0d;
    color: white;
  }
  
  .menu-item:hover {
    cursor: pointer;
    background-color: #ffffff0d;
  }
  
  .credits {
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 6px 16px;
    display: flex;
    gap: 12px;
    background-color: #ffffff0d;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .credits__details {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  
  .credits__details .balance {
    font-size: 15px;
    font-weight: 500;
    color: white;
  }
  
  .main_content {
    flex: 1 1 0;
    overflow: auto;
  }
  @media only screen and (max-width: 600px) {
    /* aside {
      width: 100vw;
    } */
  
    .main {
      display: none;
    }
  
    .mobile-screen {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100dvh;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 14px;
    }
  
    .mobile-screen a {
      color: #f97316;
      font-weight: 500;
    }
  
    .mobile-screen .desc {
      margin-top: auto;
    }
  
    .mobile-screen .portfolio {
      margin-top: auto;
    }
  }
  
  /* Payouts Section */
  
  .main_content {
    background-color: #f7f7f7;
  }
  
  .top_navbar {
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #ccc;
  }
  
  .top_navbar .navbar_heading {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .top_navbar .navbar_heading .navbar_title {
    font-size: 20px;
    font-weight: 500;
  }
  
  .top_navbar .navbar_heading .navbar_info {
    display: flex;
    gap: 6px;
    font-size: 12px;
    color: #71717a;
    cursor: pointer;
  }
  .top_navbar .navbar_heading .navbar_info .navbar_info_text {
    margin-top: 3px;
  }
  
  .top_navbar .navbar_search .search_box {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 16px;
    width: 400px;
    border-radius: 8px;
    background-color: #f7f7f7;
    color: #71717a;
  }
  
  .navbar_search .search_box input {
    outline: none;
    border: none;
    background-color: transparent;
    font-family: Inter, sans-serif;
    width: 100%;
  }
  
  .navbar_search .navbar_box input::placeholder {
    color: #71717a;
  }
  
  .top_navbar .navbar_icons {
    display: flex;
    gap: 10px;
  }
  
  .top_navbar .navbar_icons div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dfdddd;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    color: #3f3f46;
  }
  .top_navbar .navbar_icons .dropdown{
    font-size:28px;
    opacity: 80%;
  }
  .top_navbar .navbar_icons .notifications{
    opacity: 95%;
  }
  .overview-wrapper {
    padding: 32px;
  }
  
  .overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .overview .overview_title {
    font-size: 20px;
    font-weight: 500;
  }
  
  .overview .overview_filter {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #3f3f46;
  }
  .overview .overview_filter .month_icon{
    font-size: 12px;
    font-weight: 800 !important;
  }
  
  .overview_cards {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  
  .amount_card {
    padding: 24px 20px;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    position: relative;
  }
  
  .amount_card .card_header {
    display: flex;
    gap: 6px;
    align-items: center;
    color: #3f3f46;
  }
  
  .amount_card .card_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .amount_card .card_body .amount {
    font-size: 28px;
    font-weight: 600;
  }
  
  .amount_card .card_body .info {
    display: flex;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    color: var(--light_blue);
    cursor: pointer;
  }
  .next_payout_icon{
    margin-top: 2px;
  }
  .amount_card .card_body .info .amount_icon{
    margin-top: 2px;
  }
  
  .card_body .info .info_text {
    text-decoration: underline;
  }
  
  .card_body .info svg {
    margin-top: 2px;
    rotate: 270deg;
  }
  
  .active_card {
    padding: 24px 0 0;
    background: var(--light_blue);
    color: white;
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
  }
  
  .active_card .card_body,
  .active_card .card_header {
    padding: 0 20px;
  }
  
  .active_card .card_header {
    display: flex;
    gap: 6px;
    font-weight: 300;
    align-items: center;
  }
  
  .active_card .card_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .active_card .card_body .amount {
    font-size: 28px;
    font-weight: 600;
  }
  
  .active_card .card_body .info {
    display: flex;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .active_card .card_next {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    border-radius: 8px;
    background-color: var(--medium_blue);
  }